// Place all the styles related to the Blogposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxed {
border: 1px solid green ;
}

textarea {
    width: 500px;
    height: 250px;
}

#unknown_words {
border: 1px solid red ;
}
